<div class="navbar navbar-expand-sm navbar-light navbar-lewagon navbar-wagon-fixed">
  <%= link_to "#", class: "navbar-brand" do %>
    <%= image_tag "" %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="outline: none;">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse navbar-wagon-right" id="navbarSupportedContent" >
    <ul class="navbar-nav mr-auto ">
      <li class="nav-item navbar-wagon-link">
        <%= link_to "Prestations", "", class: "navbar-wagon-item navbar-wagon-link" %>
      </li>
      <li class="nav-item navbar-wagon-link">
        <%= link_to "Tarifs", "", class: "navbar-wagon-item navbar-wagon-link" %>
      </li>
      <li class="nav-item navbar-wagon-link">
        <%= link_to "À propos", "", class: "navbar-wagon-item navbar-wagon-link" %>
      </li>
      <li class="nav-item navbar-wagon-link">
        <%= link_to "Contact", "", class: "navbar-wagon-item navbar-wagon-link" %>
      </li>

    </ul>
  </div>
</div>
